/*iframe {background:url("./fonts/_kc_loading.gif") center center no-repeat}*/
.verno_btn {overflow:hidden; padding-left:0; padding-right:0; line-height:1; letter-spacing: -0.5px; color: black; font-weight:bold; text-shadow: 1px 0px 2px rgba(255,255,255,0.7), -1px 0px 2px rgba(255,255,255,0.7); width:auto; min-width:2rem; max-width:3.6rem; height:1.4rem; vertical-align:middle; border-color: rgba(128,128,128,0.3); font-size:65%; border-style:solid; margin-left:0.2rem;}
.details_btn {overflow:hidden; margin: 0.2rem; height:1.6rem; border-style:none; border-radius: 0.5rem; opacity:0.9;text-shadow: 1px 0px 2px rgba(0,0,0,0.7), -1px 0px 2px rgba(0,0,0,0.7); }
/*.abbr_hr {margin:0.5rem 0.5rem 0.5rem 0.5rem; padding:0.5rem 0.5rem 0.5rem 0.5rem;}*/
.comDiv {border:solid rgba(0,0,0,0.25); padding:0.5em; margin-right:0.5em;}
.iframeHead { display:inline; padding:0 0 0 0; height:2em; vertical-align:top; margin:0.2em 0.3em 0.2em 0.3em }
#details_bottom_div {position:fixed; left:0; right:2rem; padding-top:0; padding-bottom:0.5rem; text-align:center; background-color:rgba(0,0,0,0.3);display:none;height:auto;z-index:10}
#words_search_div {position:fixed;left:0; right:0; padding-top:0.5em; padding-bottom:1em; padding-left:0; padding-right:0; background-color:rgba(0,0,0,0.3);height:auto;z-index:10;}
/* Landscape mode */
  @media only screen and (orientation: landscape) {
      #_iframe1 { background-color:black; border-width:4px; width:95vw; height:70%; resize:both; overflow:auto; } }
/* Portrait mode */
  @media only screen and (orientation: portrait) {
      #_iframe1 { background-color:black; border-width:4px; width:95vw; height:85%; resize:both; overflow:auto; } }

div.bounding-rect {
			border: 2px solid rgba(255,0,0,0.5) ;
			border-radius: 0.25em 0.25em 0.25em 0.25em ;      
			position: fixed ;      
			z-index: 2 ;
}
input:placeholder-shown {
   font-style: italic;
}
div.segment-rect {
  border: none;
  background-color: rgba(255,80,80,0.15);
  border-radius: 0.2em 0.2em 0.2em 0.2em ;    
  position: fixed ;
  z-index: 3 ;
}
#floatDiv {
  display:none;/*flex or none for html test*/
}
